.loginWrapper{
    display: flex;
    justify-content: center;

}

.loginCard{
    width:27vw;
    margin-top: 10%;
}
.insta-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
}
.insta-logo img{
    width: 15vw;
}
.imgcar{
    height: 590px;
    width:441px;
    margin-top: 8vh;
    position: relative;
}
.car{
    position: absolute;
    height:423px;
    width:241px;
    left:143px;
    top:93px;
}
